$black-800: #232725;
$black-800-a: rgb(35, 39, 37, 0.5);
$black-900: #1b1d1c;
$black-900-a: rgba(31, 33, 32, 0.96);
$green-200: #00a693;
$gray-200: #dcdcdc;
$gray-300: rgba(158, 158, 158);
$gray-300-a: rgba(158, 158, 158, 0.1);
$gray-400: #3b3e3c;
$gray-900-a: rgba(0, 0, 0, 0.1);
$gradient-outer-to-right: linear-gradient(
    to right,
    $black-800-a 0%,
    $gray-300-a 90%
);
$gradient-inner-to-right: linear-gradient(
    to right,
    $black-800-a 0%,
    $gray-900-a 190%
);

$gradient-outer-to-left: linear-gradient(
    to left,
    $black-800-a 0%,
    $gray-300-a 90%
);
$gradient-inner-to-left: linear-gradient(
    to left,
    $black-800-a 0%,
    $gray-900-a 190%
);

$gradient-inner-to-top-left: linear-gradient(
    to top left,
    $black-800 0%,
    $gray-400 200%
);

$colors: (
    "black": black,
    "white": white,
    "black-800": #232725,
    "black-900": #1b1d1c,
    "black-900-a": rgba(31, 33, 32, 0.96),
    "green-200": #00a693,
    "gray-300": #798894,
    "gray-300-a": rgb(121, 136, 148, 0.4),
    "gray-400": #3b3e3c,
    "gray-400-a": rgb(60, 62, 61, 0.6),
);

$gradients: (
    "outer-to-right": linear-gradient(to right, $black-800 0%, $gray-400 90%),
    "inner-to-right": linear-gradient(to right, $black-800 0%, $gray-400 190%),
    "outer-to-left": linear-gradient(to left, $black-800 0%, $gray-400 90%),
    "inner-to-left": linear-gradient(to left, $black-800 0%, $gray-400 190%),
    "inner-to-top-left":
        linear-gradient-reverse(to top left, $black-800 0%, $gray-400 200%),
);
